<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>jsp servlet ban hang</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>com.hieulexuan.controllers.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryController</display-name>
    <servlet-name>CategoryController</servlet-name>
    <servlet-class>com.hieulexuan.controllers.CategoryController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SearchController</display-name>
  	<servlet-name>SearchController</servlet-name>
  	<servlet-class>com.hieulexuan.controllers.SearchController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DetailController</display-name>
  	<servlet-name>DetailController</servlet-name>
  	<servlet-class>com.hieulexuan.controllers.DetailController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LoginController</display-name>
  	<servlet-name>LoginController</servlet-name>
  	<servlet-class>com.hieulexuan.controllers.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RegisterController</display-name>
  	<servlet-name>RegisterController</servlet-name>
  	<servlet-class>com.hieulexuan.controllers.RegisterController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LogoutController</display-name>
  	<servlet-name>LogoutController</servlet-name>
  	<servlet-class>com.hieulexuan.controllers.LogoutController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ManagerAccountController</display-name>
  	<servlet-name>ManagerAccountController</servlet-name>
  	<servlet-class>com.hieulexuan.controllers.ManagerAccountController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteController</display-name>
  	<servlet-name>DeleteController</servlet-name>
  	<servlet-class>com.hieulexuan.controllers.DeleteController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddController</display-name>
  	<servlet-name>AddController</servlet-name>
  	<servlet-class>com.hieulexuan.controllers.AddController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LoadMoreController</display-name>
  	<servlet-name>LoadMoreController</servlet-name>
  	<servlet-class>com.hieulexuan.controllers.LoadMoreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryController</servlet-name>
    <url-pattern>/CategoryController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchController</servlet-name>
  	<url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DetailController</servlet-name>
  	<url-pattern>/DetailController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterController</servlet-name>
  	<url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutController</servlet-name>
  	<url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerAccountController</servlet-name>
  	<url-pattern>/ManagerAccountController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteController</servlet-name>
  	<url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddController</servlet-name>
  	<url-pattern>/AddController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoadMoreController</servlet-name>
  	<url-pattern>/LoadMoreController</url-pattern>
  </servlet-mapping>
</web-app>